body{
    background-color: aliceblue;
}

.title img{
    height: 50px;
    width: 50px;
}

h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

#inputText{
    width: 60%;
}

#toDoList{
    background-color: #FDB84B;
}

#toDoList{
    font-family: 'Abel', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style-type: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  ul li:hover {
    background: #ddd;
  }
  
  ul li.checked {
    background: #6b6866;
    color: #fff;
    text-decoration: line-through;
  }
  
  ul li.checked::before {
    content: "";
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f78501;
    color: white;
  
  }